/*CSS Made By Dice Shop Page */

body {
    background-color: var(--old-copper);
    font-family: Georgia, bold, serif;
}

h1 {
    display: block;
    font-family: Georgia, bold, serif;
    color: var(--double-spanish-white);
    text-align: center;
}

h2 {
    display: block;
    font-family: Georgia, bold, serif;
    color: var(--double-spanish-white);
    text-align: center;
}

p {
    background: var(--cedar);
    font-family: serif;
    font-size: 20px;
    color: var(--double-spanish-white);
}

/* Handle overflow */
ul {
    display: block;
    list-style-type: none;
    overflow: hidden;
    font-family: Georgia, serif;
}

/* Format lists, background, and text */
li {
    font-family: Georgia, serif;
    color: var(--cedar);
}

/* Use contextual/attribute selectors */
li a {
    display: block;
    background-color: var(--double-spanish-white);
    color: var(--old-copper);
    padding: 5px 16px;
    text-decoration: none;

}

li a:hover {
    color: var(--double-spanish-white);
}

nav {
    display: inline-block;
    width: 95%;
    height: 15px;
    padding-block: 10px;
    padding-inline: 20px;
    margin: auto;
    text-align: right;
    font-family: Georgia, bold, serif;
    color: var(--cedar);
    font-size: 14px;
}

/*Use pseudo classes for hypertext links */

nav a:hover {

    background-color: var(--old-copper);
}

a {
    display: inline-block;
    margin: auto;

}


#foot-copy {
    display: block;
    margin: auto;
    width: 95%;
    height: 20px;
    background-color: var(--double-spanish-white);
    text-align: center;
    font-family: Georgia, serif;
    color: var(--old-copper);
    align-items: b;
}

.shop-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;

}

div figure {
    display: block;
    font-family: Georgia, bold, serif;
    background-color: var(--cedar);
    color: var(--double-spanish-white);
    text-align: center;
    padding: 5px 16px;
}